<footer class="page-footer grey darken-4">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Jacob Sheehy
    <span class="right">
      <a class="grey-text text-lighten-3" href="https://github.com/lessthanjacob">GitHub</a></li> •
      <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/jacob-sheehy">LinkedIn</a></li> •
      <a class="grey-text text-lighten-3" href="https://medium.com/@jacobjsheehy">Medium</a></li>
    </span>
    </div>
  </div>
</footer>
