header {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-custom {
  background-color: white;
}

footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  background-color: transparent;
}
