---
layout: page
---
<div class="container" style="margin-top: 50px;">
  <div class="col s6 offset-s3">
    <img style="width: 50%; margin: auto; display: block;" src="assets/images/tell_me_im_pretty.jpeg" alt="" class="circle responsive-img">
  </div>
</div>

<div class="container">
  <div class="col s4">
    <div class="code-block center-align">
      <span>jacob_sheehy = </span><span class="code-block-syntax-orange">Person</span>.create!(
      <span class="code-block-syntax-red">name:</span> '<span class="code-block-syntax-green">Jacob Sheehy</span>',
      <span class="code-block-syntax-red">age:</span> 26,
      <span class="code-block-syntax-red">roles:</span> ['Software Engineer',
              'Drummer']
    )
    </div>
  </div>
</div>
