---
layout: page
---
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="/assets/js/jquery-3.1.0.min.js"></script>
  <script src="/assets/js/typed.min.js"></script>
</head>

<div class="container parent-container">
  <div class="container hero-container" style="margin-top: 50px;">
    <div class="col s6 offset-s3">
      <img style="width: 45%; margin: auto; display: block;" src="assets/images/tell_me_im_pretty.jpeg" alt="" class="circle responsive-img">
    </div>
      <div class="typed-name-container">
        <span class='typed-name'></span>
      </div>
      <div class="social-icons-container">
        <a href="https://github.com/lessthanjacob"><i class="fa fa-github social-icon" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/jacob-sheehy"><i class="fa fa-linkedin social-icon" aria-hidden="true"></i></a>
        <a href="https://medium.com/@jacobjsheehy"><i class="fa fa-medium social-icon" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var options = {
      strings: ["Jacob Sheehy"],
      typeSpeed: 100, // typing speed
      showCursor: true
    };
    var typed = new Typed('.typed-name', options);
  });
</script>
